.aboutus {
    display: flex;
    background-color: #ebedee;
    padding: 40px 0px;
    justify-content: center;
    flex-direction: row;
}

.aboutus article {
    width: 500px;
    margin: 1em
}

@media only screen and (max-width: 320px) {
    .aboutus article {
        width: 85%;
    }
    .aboutus {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 321px) {
    .aboutus article {
        width: 85%;
    }
    .aboutus {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    .aboutus article {
        width: 85%;
    }
    .aboutus {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .aboutus article {
        width: 85%;
    }
    .aboutus {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 992px) {
    .aboutus article {
        width: 500px;
    }
    .aboutus {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1200px) {
    .aboutus article {
        width: 500px;
    }
    .aboutus {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1366px) {
    .aboutus article {
        width: 500px;
    }
    .aboutus {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}