.navimglink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    margin: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.navimglink:hover {
    opacity: 0.75;
}

.navimglink a {
    color: black;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}

.navimglink a:hover {
    color: white;
    background: black
}

@media only screen and (max-width: 320px) {
    .navimglink {
        width: 250px;
        height: 250px
    }
}

@media only screen and (min-width: 321px) {
    .navimglink {
        width: 300px;
        height: 300px
    }
}

@media only screen and (min-width: 600px) {
    .navimglink {
        width: 350px;
        height: 350px
    }
}

@media only screen and (min-width: 768px) {
    .navimglink {
        width: 300px;
        height: 300px
    }
}

@media only screen and (min-width: 992px) {
    .navimglink {
        width: 400px;
        height: 400px
    }
}

@media only screen and (min-width: 1200px) {
    .navimglink {
        width: 450px;
        height: 450px
    }
}

@media only screen and (min-width: 1366px) {
    .navimglink {
        width: 300px;
        height: 300px
    }
}