.productlistproductcardskeleton {
    height: 452px;
    width: 100%;
    border: 1px solid transparent;
}

.productlistproductcardskeletonimg {
    width: 100%;
    border-radius: 5px;
    height: 300px;
    background-color: rgba(235, 237, 238, 1);
    animation: flow infinite 1s ease-in-out;
    -webkit-animation: flow infinite 1s ease-in-out;
}

.productlistproductcardmarginskeleton {
    padding-left: 5px;
}

.productlistproductcardmarginskeleton p {
    animation: flow infinite 1s ease-in-out;
    background-color: rgba(235, 237, 238, 1);
    -webkit-animation: flow infinite 1s ease-in-out;
    height: 15px;
    margin: 7.5px 0px;
    width: 125px;
}

@-webkit-keyframes flow {
    0% {
        background-color: rgba(235, 237, 238, 1);
    }
    50% {
        background-color: rgba(235, 237, 238, .5);
    }
    100% {
        background-color: rgba(235, 237, 238, 1);
    }
}

@keyframes flow {
    0% {
        background-color: rgba(235, 237, 238, 1);
    }
    50% {
        background-color: rgba(235, 237, 238, .5);
    }
    100% {
        background-color: rgba(235, 237, 238, 1);
    }
}