.ProductList {
    width: 100%;
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: 305px 305px 305px 305px;
    grid-template-rows: auto;
    gap: 5px;
}

.ProductListCurrentPrice span:nth-child(1) {
    color: red;
    margin-right: 5px;
}

.ProductListCurrentPrice span:nth-child(2) {
    text-decoration: line-through;
}

.ProductListStandardPrice span{
    color: black
}

@media only screen and (max-width: 625px) {
    .ProductList {
        width: 100%;
        display: grid;
        justify-content: center;
        margin: auto;
        grid-template-columns: 305px;
        grid-template-rows: auto;
    }
}

@media only screen and (min-width: 625px) {
    .ProductList {
        grid-template-columns: 305px 305px;
    }
}

@media only screen and (min-width: 935px) {
    .ProductList {
        grid-template-columns: 305px 305px 305px;
    }
}

@media only screen and (min-width: 1245px) {
    .ProductList {
        grid-template-columns: 305px 305px 305px 305px;
    }
}