.RatingBreakdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 3px 0px;
    margin: auto;
}

.SkillBar {
    width: 100%;
    /* Full width */
    background-color: #767677;
    /* Grey background */
    border-radius: 10px;
}

.Ratings {
    width: 69px;
    margin-right: 5px;
}

.Count {
    width: 69px;
    margin-left: 5px;
}

.Bar {
    padding: 2px 0px;
    /* width: 90%;  */
    border-radius: 10px;
    background-color: #2ada71
}

@media only screen and (max-width: 500px) {
    .RatingBreakdown {
        width: 100%;
    }
}

