.ProductInfoSpecsDesktopDescription {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ProductInfoSpecsDesktopDescription div{
    width: 100%;
    height: auto;
    margin-right: 1em;
}

.ProductInfoSpecsDesktopDescription img{
    width: 100%;
    height: auto
}