.productinfospecsdesktopdescription {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.productinfospecsdesktopdescription div{
    width: 100%;
    height: auto;
    margin-right: 1em;
}

.productinfospecsdesktopdescription img{
    width: 100%;
    height: auto
}