.ratingbreakdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 3px 0px;
    margin: auto;
}

.skillbar {
    width: 100%;
    /* Full width */
    background-color: #767677;
    /* Grey background */
    border-radius: 10px;
}

.ratings {
    width: 59px;
    margin-right: 5px;
}

.bar {
    padding: 2px 0px;
    /* width: 90%;  */
    border-radius: 10px;
    background-color: #2ada71
}

@media only screen and (max-width: 500px) {
    .ratingbreakdown {
        width: 100%;
    }
}

