.banner {
    width: 1366px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../assets/bannermobile.webp);
}

.bannerslogan {
    text-shadow: 1px 1px #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
}

.btncontain {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    margin: 0 auto
}

@media only screen and (max-width: 320px) {
    .bannerslogan {
        margin: 0 auto;
        font-size: 32px;
    }
    .banner {
        height: 500px;
        width: 100%;
    }
}

@media only screen and (min-width: 321px) {
    .bannerslogan {
        margin: 0 auto;
        padding-left: 10px;
        font-size: 38px;
    }
    .banner {
        height: 450px;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .bannerslogan {
        margin: 0 auto;
        padding-left: 10px;
        font-size: 64px;
    }
    .banner {
        height: 500px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .bannerslogan {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 54px;
    }
    .btncontain {
        justify-content: center;
        width: 400px;
        top: 0;
    }
    .banner {
        height: 550px;
        width: 100%;
        background-image: url(../../assets/banner.webp);
    }
}

@media only screen and (min-width: 992px) {
    .bannerslogan {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 58px;
    }
    .btncontain {
        width: 450px;
        top: 0;
    }
    .banner {
        height: 600px;
        width: 100%;
        background-image: url(../../assets/banner.webp);
    }
}

@media only screen and (min-width: 1200px) {
    .bannerslogan {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 64px;
    }
    .btncontain {
        width: 500px;
        top: 0;
    }
    .banner {
        height: 650px;
        background-image: url(../../assets/banner.webp);
    }
}

@media only screen and (min-width: 1366px) {
    .bannerslogan {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 64px;
    }
    .btncontain {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: flex-start;
        padding-top: 20px;
        width: 500px;
        top: 0;
        margin: 0 auto
    }
    .banner {
        height: 650px;
        width: 1366px;
        border-radius: 5px;
        margin-top: 10px;
        background-image: url(../../assets/banner.webp);
    }
}