.banner {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../../assets/bannermobile.webp);
}

.bannerslogan {
    text-shadow: 1px 1px #fff;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 32pt;
    margin-bottom: 0;
}

.textcontainer {
    margin-left: 1em;
}

.bannercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 320px) {
    .banner {
        width: 100%;
        height: 500px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
        background-image: url(../../assets/bannermobile.webp);
    }
    
    .bannerslogan {
        text-shadow: 1px 1px #fff;
        font-family: Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 32pt;
        margin-bottom: 0;
    }
    
    .textcontainer {
        margin-left: 1em;
    }
    
    .bannercontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (min-width: 321px) {
    .banner {
        height: 550px;
    }    
}

@media only screen and (min-width: 600px) {
    .bannerslogan {
        font-size: 52pt;
    }
}

@media only screen and (min-width: 768px) {
    .banner {
        height: 600px;
        background-image: url(../../assets/banner.webp);
    }
    .bannerslogan {
        font-size: 32pt;
    }
    .bannercontainer {
        width: 350px;
        top: 0;
    }    
}

@media only screen and (min-width: 992px) {
    .banner {
        height: 600px;
        background-image: url(../../assets/banner.webp);
    }
    .bannerslogan {
        font-size: 42pt;
    }
    .bannercontainer {
        width: 500px;
        top: 0;
    }    
}

@media only screen and (min-width: 1200px) {
    .banner {
        height: 600px;
    }
    .bannerslogan {
        font-size: 42pt;
    }
    .bannercontainer {
        width: 550px;
    }    
}

@media only screen and (min-width: 1366px) {
    .bannerslogan {
        font-size: 52pt;
    }
    .bannercontainer {
        width: 600px;
    }    
}