.NavlinkDropbtn {
    position: relative;
    letter-spacing: 1.87px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 47px;
    margin: 0 3px;
    color: #000;
    z-index: 3;
    text-decoration: none;
}
  
.Dropdown {
    display: inline-block;
    height: 45px;
    margin-top: 3px;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ebedee;
    margin-right: 20px;
    width: -webkit-max-content;
    margin-bottom: -1px;
    width: max-content;
    z-index: 999;
}

.Dropdown:hover {
    border-bottom: 1px solid #000;
    margin-bottom: -1px;
}
  
.DropdownContent {
    display: none;
    position: absolute;
    z-Index: 1;
    min-width: 100%;
    margin-top: -1px;
    left: 0;
    padding: 10px 0px;
    background: white;
    border-bottom: 1px solid #ebedee;
}
  
.DropdownContent .NavlinkDropdown {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Dropdown:hover .DropdownContent {display: block;}