.ProductInfoRatingsAndReviews {
    padding: 0px 10px;
    margin-top: 1em;
}

.RatingsBox {
    background-color: #2ada71;
    width: 250px;
    height: auto;
    border-radius: 5px;
    text-align: center;
}

.RatingsStats {
    display: flex;
    width: 100%;
    justify-content: center;
}

.RecommendationBox {
    margin-left: 10px;
    width: 250px
}

.LoadMoreBtn {
    font-weight: bold;
    margin-top: 5px;
    padding: 3px;
    text-align: center;
}

.LoadMoreBtn span:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 2px;
}

.Buttons {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .RatingReviews {
        display: flex;
        justify-content: center;
    }
    .Buttons {
        text-align: left;
    }    
}