.trendingcard img {
    width: 300px;
    border-radius: 5px;
}

.trendingcard:hover {
    opacity: 0.75;
}

.trendingcard {
    width: 300px;
    height: auto;
    cursor: pointer;
    margin: 1em
}

.margin {
    margin-top: 5px;
}