.colorvariationlinks a img {
    width: 75px;
    height: 75px;
    margin: 7px 7px 7px 0;
    border-radius: 50%;
    transition: 0.5ms ease-in-out;
}

.colorvariationlinks a img:hover {
    transform: scale(1.05);
}

.productInfocontainer {
    padding-left: 10px;
}