.ColorVariationLinks a img {
    width: 75px;
    height: 75px;
    margin: 7px 7px 7px 0;
    border-radius: 50%;
    transition: 0.5ms ease-in-out;
}

.ColorVariationLinks a img:hover {
    transform: scale(1.05);
}

.ProductInfoContainer {
    padding-left: 10px;
}

.JumpToReviews {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5px;
}

.JumpToReviews a {
   color: black;
   text-decoration: none;
}

.JumpToReviews a:hover {
   text-decoration: underline;
 }