.reviewpost {
    padding: 10px;
    border-bottom: 1px solid black;
    max-width: 750px;
    margin: auto
}

.reviewposttopbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
