.productinfogallery {
    width: 100%;
    display: flex;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.productinfogallery img {
    margin: 5px
}

.productinfogallery img:hover {
    opacity: 0.75;
    cursor: pointer;
}