.TrendingBar {
    display: grid;
    grid-template-columns: repeat(20, [col] 305px) ;
    gap: 5px;
    padding: 5px;
    overflow-x: auto;
    grid-template-rows: auto;
}

.TrendingBar::-webkit-scrollbar-thumb {
    color: #ccc;
}
.TrendingBar::-webkit-scrollbar-track {
    color: #ccc;
}
.TrendingBar::-webkit-scrollbar-corner {
    border-radius: 5px;
}

.TrendingTitle {
    text-align: center;
    padding-top: 10px;
    font-family: Helvetica, Arial, sans-serif;
}