.ProductInfoSpecsMobileBtn {
    width: calc(100% - 20px);
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-size: 16pt;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.ProductInfoSpecsMobile {
    overflow-y: hidden;
}

.ProductInfoSpecsMobileImg{
    height: auto;
    width: 100%
}

.ProductInfoSpecsMobileImg img{
    height: auto;
    width: 100%
}