.btncontainer {
    height: 25px;
    padding: 10px;
    background-color: black;
    z-index: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    font-weight: bold;
    position: relative;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
}

.btncontainer:hover {
    color: grey
}

.btntext {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}