/* .productlistfilteritem {
    display: flex;
    align-items: center;
    margin: 3px
}

.productlistfilterbar {
    max-width: 1366;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0px;
    border-top: 1px solid #ebedee;
    border-bottom: 1px solid #ebedee;
    margin: 5px auto;
} */