.ProductInfo {
    min-height: 100%;
    overflow: hidden;
}

.CompleteTheLook {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    margin: auto
}

.ProductInfoImages {
    position: relative
}

.ProductInfoGallery {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    flex-wrap: nowrap;
}

.ProductInfoGallery img {
    margin: 5px;
    width: 100%;
    opacity: 0.25;;
    border-radius: 5px;
}

.ProductInfoGallery img:hover {
    opacity: 1;
    cursor: pointer;
}

@media only screen and (max-width: 320px) {}

@media only screen and (min-width: 321px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    .ProductInfo {
        min-height: 100%;
        overflow: hidden;
        display: flex
    }
    .ProductInfo div {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1366px) {}